<form method="post" action="/items/<%= @item['id'] %>">
  <div class="hbox">
    <div>
      <label for='item'>Item:</label></dt>
      <input id='item' name='item' type='text' autofocus value="<%= @item['item'] %>">
    </div>
    <div>
      <label for='details'>Details:</label>
      <input id='details' name='details' value="<%= @item['details'] %>">
    </div>
    <button class="update">Update</button>
  </div>
</form>
<form class="delete_form" method="post" action="/items/<%= @item['id'] %>/delete">
  <button class="delete">delete</button>
</form>