<!-- ADD NEW ITEM -->
<h1>ToDo!</h1>
<form method='post' action='/items'>
<div class="hbox">
  <div>
    <label for='item'>Item:</label>
    <input id='item' name='item' type='text' autofocus>
  </div>
  <div>
    <label for='details'>Details:</label>
    <input id='details' name='details'></input>
  </div>
  <button class="add">Add Task</button>
</div>
</form>

<!-- ENDADD NEW ITEM -->

<!-- TODO LIST -->
<section>
<ul>
  <% @items.reverse_each do |item| %>
  <li>
      <em><%= item['item'] %></em>
      <%= item['details'] %>
        <a class="edit" href="/items/<%= item['id'] %>/edit">Edit</a>  
    </li>
<% end %>
</ul>
</section>
<!-- END TODO LIST -->