<h2 class="center">Updated successfuly!</h2>
<section>
  <ul>
    <li>
        <em><%= @item['item'] %></em>
        <%= @item['details'] %>
    </li>
  </ul>
</section>

<a class="center" href="/items">Back to my list</a>